*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
.imgM{
	height: 100%;
	
}

html{
	font-size: 16px;
}
.title{
		line-height: 30px;
	width: 100%;
	margin: 0px auto;
	display: flex;
	justify-content:center;
	font-size: 1.125rem;
}

.title div
{
	display: flex;
	align-items: center;

}
.title div>p{
	font-size: 1.125rem;
	color: red;
}
.title div>img{
	width:30px;
	height: 30px;
	border-radius: 999px;
	}
.imgM img{
	display: block;
	margin: 0px auto;
	width: 90%;
	height: 100%;
	border:1px solid black ;
	padding: 5px;
}