* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	background-color: #eee;
}
#box{
	display: block;
	width: 100%;
}
.top {
	display: flex;
	width: 100%;
	height: 50px;
	background-color: rgb(241, 249, 236);
	justify-content: left;
	align-items: center;
	padding:0 20px 0 20px;
	color:#07C160;
	font-size: 14px;
}

.top>img {
	display: block;
	width: 25px;
	height: 25px;
	margin-right: 10px;
}
.content{
	display: block;
	width: 95%;
	margin: 10px auto;
}
.content img{
	display: block;
	width: 100%;
}